body, html {
    height: 100%;
    margin: 0;
    background-image: URL('JT23_Kuosi_TummanSininen.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
